# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.test.exe

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env

# GeoIP database (download separately)
geoip/*.mmdb

# Build output
/tmp/
/dist/docs/*.md  
!docs/API.md  

#Docs files
docs\analitics.md
docs\architecture.md
docs\conclusion.md
docs\deployment.md
docs\introduction.md
docs\part_testing.md
docs\project.md
docs\README.md
docs\realization.md
docs\references.md
docs\tech.md